---
import Layout from '../layouts/Layout.astro'
import Home from '../components/Home.svelte'
import AboutMe from '../components/AboutMe.svelte'
import CV from '../components/CV.svelte'
---

<Layout title="Mateusz Szczukiewicz">
	<main>
		<Home client:load />
		<AboutMe id="about" client:only="svelte" />
		<CV id="cv" client:only="svelte" />
	</main>
</Layout>
