---
import Layout from '@layouts/Layout.astro'
import Home from '@components/Home.svelte'
import AboutMe from '@components/AboutMe.svelte'
import CV from '@components/CV.svelte'
---

<Layout title="Mateusz Szczukiewicz">
	<main>
		<Home client:only="svelte" />
		<AboutMe client:only="svelte" />
		<div>
			<CV client:only="svelte" />
		</div>
	</main>
</Layout>
