---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import image2 from '@assets/images/image2.jpg'
import AboutMe from '@components/AboutMe.svelte'
import CV from '@components/CV.svelte'
---

<Layout title="Mateusz Szczukiewicz">
	<main>
		<article class="bg-hero flex h-screen items-center justify-around bg-zinc-50 p-10">
			<section class="flex max-w-3xl flex-col items-center justify-center gap-10 sm:items-start">
				<h1 class="text-6xl sm:text-7xl">Mateusz Szczukiewicz</h1>
				<p class="max-w-prose">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aperiam asperiores,
					dolores doloribus dolorum eaque fuga id in laborum maxime, nisi nobis numquam possimus
					quam quisquam quod recusandae voluptates? Ab corporis esse eveniet exercitationem in vel.
					Autem ducimus eos repellendus sed? Aperiam, architecto aspernatur at blanditiis debitis
					deleniti deserunt error, eveniet iste magni mollitia ratione repellat, reprehenderit.
					Animi, temporibus. Ad adipisci aperiam beatae culpa cumque deserunt dolorem dolores ea
					earum eos, excepturi exercitationem hic incidunt ipsum laboriosam laborum maxime molestiae
					nobis non quasi quia quidem quo suscipit, tempore voluptatum!
				</p>
				<div class="flex w-fit flex-col gap-4">
					<a
						href="#more"
						class="cursor-pointer border-4 border-zinc-950 p-2 text-center font-semibold"
						>Więcej o mnie</a
					>
					<a
						href="#cv"
						class="cursor-pointer justify-center border-4 border-zinc-950 p-2 text-center font-semibold"
						>Zobacz CV</a
					>
				</div>
			</section>
			<div>
				<Image class="w-[40rem] opacity-80 shadow-2xl" src={image2} alt="Moje zdjęcie" />
			</div>
		</article>
		<article id="more">
			<AboutMe client:only="svelte" />
		</article>
		<article id="cv">
			<CV client:only="svelte" />
		</article>
	</main>
</Layout>
