---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import image2 from '@assets/images/image2.jpg'
---

<Layout title="Mateusz Szczukiewicz">
	<main class="">
		<article class="flex h-screen items-center justify-around">
			<section class="flex max-w-3xl flex-col gap-10">
				<h1 class="text-7xl">Mateusz Szczukiewicz</h1>
				<p class="">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aperiam asperiores,
					dolores doloribus dolorum eaque fuga id in laborum maxime, nisi nobis numquam possimus
					quam quisquam quod recusandae voluptates? Ab corporis esse eveniet exercitationem in vel.
					Autem ducimus eos repellendus sed? Aperiam, architecto aspernatur at blanditiis debitis
					deleniti deserunt error, eveniet iste magni mollitia ratione repellat, reprehenderit.
					Animi, temporibus. Ad adipisci aperiam beatae culpa cumque deserunt dolorem dolores ea
					earum eos, excepturi exercitationem hic incidunt ipsum laboriosam laborum maxime molestiae
					nobis non quasi quia quidem quo suscipit, tempore voluptatum!
				</p>
			</section>
			<div class="">
				<Image class="w-[40rem] rounded-2xl shadow-2xl" src={image2} alt="Moje zdjęcie" />
			</div>
		</article>
	</main>
</Layout>
