---
import Layout from '@layouts/Layout.astro'
import ProjectsSvelte from '@components/ProjectsSvelte.svelte'
---

<Layout title="Projekty">
	<main>
		<ProjectsSvelte client:only="svelte" />
	</main>
</Layout>
