---
import Layout from '@layouts/Layout.astro'
import ProjectsComponent from '@components/Projects.svelte'
---

<Layout title="Projekty">
	<main>
		<ProjectsComponent client:only="svelte" />
	</main>
</Layout>
