---
import Layout from '@layouts/Layout.astro'
// import FirstProject from '@components/FirstProject.svelte'
---

<Layout title="Projekty">
	<main class="h-screen w-screen">
		<!--<FirstProject client:only="svelte" />-->
	</main>
</Layout>
