---
import NavBar from '../components/NavBar.svelte'
import Footer from '../components/Footer.svelte'
import { ViewTransitions } from 'astro:transitions'

type Props = { title: Props }

const { title } = Astro.props
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Nazywam się Mateusz Szczukiewicz i jestem aspirującym Frontend Developerem. Uwielbiam ekosystem Reacta i chciałbym dzielić się wiedzą o Web Developmencie."
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<meta name="author" content="Mateusz Szczukiewicz" />
		<meta name="copyright" content="Mateusz Szczukiewicz" />
		<meta name="keywords" content="Mateusz Szczukiewicz, FrontEnd Developer" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body class="overflow-x-hidden">
		<NavBar client:only="svelte" />
		<slot />
		<Footer client:visible />
	</body>
</html>
